<nav class="navbar ", style="background-color: #5907A2;">

  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" style="color: #FF7102; font-size: 24px;" ><strong>Project Y</strong></a>

    <!-- search bar -->
    <form class="form-inline my-2 my-lg-0 justify-content-center mx-auto">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search", size= 60>
        <div class="input-group-append">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>

  <!--Collapsable element-->

  <div style="text-align: right; padding-right: 10px;">
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="collapse-vertical collapse"  id="navbarToggleExternalContent" style="text-align: right; padding: 10px; background-color: #9205C4;">
  <%if current_user != nil %>
  
  <%= link_to "Edit Account", edit_user_registration_path , class: "nav-link"%>







    <%if current_user.admin == true%>
      <%= link_to "Create account", new_account_path, class: "nav-link" %>
    <%end%>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
    <% else %>
    <p>
    The information provided on this website does not, and is not intended to, constitute legal advice; instead, all information, content, and materials available on this site are for general informational purposes only. </p>
  <% end %>
</div>
