<nav class="navbar ", style="background-color: #9205C4;">

  <div class="container">
    <a class="navbar-brand" href="#"  style="color: #FF7102; font-size: 24px;" ><strong>Project Y</strong></a>

    <!-- search bar -->
    <form class="form-inline my-2 my-lg-0 justify-content-center mx-auto">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search", size= 60>
        <div class="input-group-append">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </form>

    <!-- trying with collapsed plugin for -->
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  
  </div>

</nav>

  <div class="collapse-vertical" align="right" id="navbarToggleExternalContent" style="text-align: right; padding: 10px; background-color: #9205C4;">
  
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>

    </div>
