<!-- app/views/documents/_document_details.html.erb -->
<div class="row">
  <!-- Document Image -->
  <div>
    <% if document.present? %>
      <img src="<%= document.image %>" alt="<%= document.name %>" class="img-fluid mb-3">
    <% end %>
  </div>

  <!-- Document Details -->
  
</div>
