<div id="<%= dom_id immigration_case %>">
  <p>
    <strong>Foreignnational:</strong>
    <%= immigration_case.foreign_nationals_id %>
  </p>

  <p>
    <strong>Case type:</strong>
    <%= immigration_case.case_type %>
  </p>


</div>
