<h1>Editing immigration case</h1>

<%= render "form", immigration_case: @immigration_case %>

<br>

<div>
  <%= link_to "Show this immigration case", @immigration_case %> |
  <%= link_to "Back to immigration cases", immigration_cases_path %>
</div>
