<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= account.notes %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= account.accesses[0].role %>
  </p>


</div>
