<div class="card">
  <div class="card-header">
  <div style="display: flex; justify-content: space-between; align-items: baseline;">
    <strong><%= fn.name%></strong>

    <strong><%= fn.status%></strong>
  </div></div>
  <div class=j"card-body">
    <blockquote class="blockquote mb-0">
      <p>Item A</p>
      <p>Item B</p>
      <p>Item C</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
