<div class="row" style="margin: 0,auto;" >
  <% @accounts.each do |account| %>
    <div class="col mx-auto" style= "margin: 20px;  display: flex;
  justify-content: space-around;">
      <div class="card mb-2" style="width: 18rem;
     " id="accounts", >
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <span style="margin-right: auto;"><%= account.name %></span>
          <span style="margin-left: auto;">ID: <%= account.id %></span>
        </div>
        <div class="card-body">
          <p class="card-text"><%= account.notes %></p>
        </div>
        <%= link_to "Show Account", account, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>


