<div class="row" style="margin: 0,auto;" >
  <% @accounts.each do |account| %>
    <div class="col mx-auto" style= "margin: 20px;  display: flex;
  justify-content: space-around;">
      <div class="card mb-2" style="width: 18rem;
     " id="accounts", >
        <div class="card-header">
          <%= account.name %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= account.notes %></p>
        </div>
        <%= link_to "Show Account", account, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
