

<div class="d-flex">
<%= render "account_side_button"%>
<p style="color: green"><%= notice %></p>

<div class="col-md-10 offset-md-1">
  <%= render @account %>

  <div>
    |
    <%= link_to "Back to accounts", accounts_path %>

    
  </div>
</div>


</div>
