<div class="d-flex">



<div class="col-md-10 offset-md-1">

  <%= render @account %>

  <% @account.foreign_nationals.each do |fn| %>

    <%= render "account_fns", fn: fn %>

  <% end %>
</div>
<%= render "account_side_button"%>
</div>
