

<div class="d-flex">
<%= render "account_side_button"%>
<p style="color: green"><%= notice %></p>

<div class="col-md-10 offset-md-1">

  <%= render @account %>

  <% @account.foreign_nationals.each do |fn| %>

    <%= render "account_fns", fn: fn %>
  <% end %>
</div>


</div>
